/* ===== RESET GENERAL ===== */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* ===== PANTALLA INICIO ===== */

.inicio-body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: linear-gradient(135deg,#1e3a8a,#2563eb);
font-family: 'Poppins', sans-serif;
}

/* CONTENEDOR CENTRAL */
.inicio-container{
text-align:center;
color:white;
padding:20px;
animation: fadeIn 1.2s ease-in-out;
}

/* TITULO PRINCIPAL CALIGRAFÍA */
.titulo-principal{
font-family: 'Playfair Display', serif;
font-size:55px;
letter-spacing:4px;
font-weight:700;
text-shadow: 4px 4px 15px rgba(0,0,0,0.4);
margin-bottom:15px;
}

/* SUBTITULO */
.subtitulo{
font-size:20px;
font-weight:300;
margin-bottom:50px;
opacity:0.95;
}

/* BOTÓN MODERNO */
.btn-principal{
padding:16px 40px;
border:none;
border-radius:15px;
background:#facc15;
color:#000;
font-weight:600;
font-size:17px;
cursor:pointer;
transition:0.3s;
box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

.btn-principal:hover{
background:#fde047;
transform:translateY(-4px);
box-shadow:0 12px 25px rgba(0,0,0,0.4);
}

/* ANIMACIÓN SUAVE */
@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}
